.product {
  padding: 20px;
  .header {
    text-align: center;
    ul li {
      display: inline-block;
      margin: 5px;
      padding: 10px;
      font-weight: bold;
      border-bottom: 2px solid white;
    }
    ul li:hover,
    ul li.active {
      border-bottom: 2px solid red;
    }
  }
  .item-frame {
    .img {
      position: relative;
    }
    .add-cart {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
      text-align: center;
      font-weight: bold;
      color: white;
      padding: 10px 0;
    }
    .img:hover .add-cart {
      display: block;
    }
  }
}
